/*Generale*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body */
body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
    color: deeppink;
    text-align: center;
    margin: 3% 0;
}

p {
    text-align: center;
    margin: 3% 0;
}

img {
    height: 110px;
    display: inline-block;
}

/*container*/

.container {
    margin: 0 auto;
    max-width: 100px;
}

.team-person {
    float: left;
    background-color: black;
    color: white;
    width: calc(100% / 3);
    margin: 20px;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
  }