/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body */
body {
    font-family: 'Fredoka', sans-serif;
    margin: 0 auto;
    width: 80%;
}

h1 {
    color: deeppink;
    text-align: center;
    margin: 3% 0;
}



p {
    text-align: center;
    margin: 3% 0;
}

img {
    height: 110px;
    display: inline-block;
    float: left
};

a {
    text-decoration: none;
}

/*container*/

.container {
    margin: 0 auto;
    max-width: 1100px;
}

.team-person {
    float: left;
    background-color: black;
    color: white;
    width: calc(100% / 3 - 30px);
    margin: 15px;
    line-height: 30px;
    vertical-align: middle;
    
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
  }